/* stylelint-disable no-descending-specificity */
/* stylelint-disable declaration-block-no-duplicate-properties */
/* stylelint-disable csstree/validator */
html {
  font-size: 18px;
}

* {
  font-size: 16px;
  font-family: lato, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: black;
  padding: 0 0;
  margin: 0;
}

.hello {
  padding-top: 4em;
  padding-bottom: 10px;
  font-size: 2rem;
  background: url(images/backgrd2.jpg) 0 0 / cover no-repeat;
  color: #de466c;
  background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-text {
  padding-left: 2em;
  padding-bottom: 0.5em;
  width: 85%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  word-spacing: 0;
  line-height: 65px;
  background: url(images/backgrd.jpg) 0 0 / cover no-repeat;
  color: #de466c;
  background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainS {
  width: 100%;
  height: auto;
}

/* .header-icons {
  position: fixed;
  display: inline;
  width: 100%;
}

.header-icon img {
  width: 40px;
  height: 35px;
  color: #868484;
}

.header-icon  {
  z-index: 3;
  float: right;
  color: #868484;
} */

.desc {
  width: 34%;
  color: #828484;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5em;
  background-color: #faf8f8;
  border: #fff solid 5px;
  margin: auto;
  margin-left: 25em;
  text-align: justify;
}

.desc2 {
  width: 40%;
  color: #868484;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5em;
  margin: auto;
  margin-left: 16em;
  margin-bottom: 8em;
}

.date {
  color: #646363;
  font-size: 1.7rem;
  font-weight: 800;
  padding-top: 2em;
}

.program-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.5em;
  padding: 2em 7em;
  margin-top: 0;
  width: 100%;
  height: auto;
  background: url("images/back2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.main-program {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1em;
  padding-top: 0;
  margin-top: 0;
  width: 100%;
  height: auto;
}

.title-wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  width: 100%;
  padding-bottom: 2em;
}

.pro-header {
  width: 95%;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #faf8f8;
  padding-top: 1em;
  padding-bottom: 1rem;
}

hr {
  width: 7%;
  border: #ec5242 solid 1px;
}

.program-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 25em;
  background-color: rgba(211, 211, 211, 0.1);
  gap: 0.5em;
  padding: 1em 1em;
}

.pro-icon {
  width: 30%;
  padding: 0 0;
  border-radius: 45%;
}

.program {
  width: auto;
  height: 2em;
  color: #ec5242;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 0;
  text-align: center;
}

.program-card:hover {
  border: #fff solid 3px;
}

.pro-desc {
  width: 85%;
  color: #f7ecec;
  font-size: 1rem;
  line-height: 1.5em;
  text-align: center;
}

.speaker-header {
  width: 95%;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  font-weight: 550;
  color: #111;
  padding-top: 3em;
  padding-bottom: 0.5em;
}

.speaker-head {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.speakers {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  width: 72%;
  height: auto;
  padding: 2em;
  padding-top: 4em;
  background-color: #fff;
}

.speeker-card {
  display: flex;
  gap: 0.5em;
  width: 48%;
  height: auto;
}

.spk-img {
  width: 30%;
}

.infor {
  display: flex;
  flex-flow: column;
  width: 70%;
}

.namez {
  width: 100%;
  font-size: 1.3rem;
}

.card-co {
  width: 100%;
  color: rgb(243, 2, 62);
  font-style: italic;
  padding-bottom: 1em;
}

.card-description {
  width: 100%;
}

.buttonM {
  display: none;
}

.buttonM p {
  display: none;
}

.partners-sect {
  width: 100%;
  margin-top: 2em;
  padding: 1em 10em;
  background-color: #272a31;
}

.partners img {
  max-width: 40%;
}

.partner-header {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 1em 2em;
  align-items: center;
}

.partner-header p {
  font-size: 30px;
  font-weight: 500;
  display: flex;
  display: flex;
  color: #fff;
}

.partners {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  flex-flow: row;
  gap: 1em;
  padding: 2em;
  padding-left: 15em;
}

.footer-head {
  display: flex;
  flex-flow: row nowrap;
}

.footer-head a {
  text-decoration: none;
}

.footer-head h3 {
  font-size: 1.3rem;
  font-weight: 600;
  background: url(images/backgrd.jpg) 0 0 / cover no-repeat;
  color: #de466c;
  background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-head img {
  width: 10em;
}

.footer-content {
  width: 100%;
  height: auto;
  padding-top: 2em;
  padding-bottom: 3em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.footer-content h3 {
  font-size: 0.8rem;
  font-weight: 600;
  background: url(images/backgrd.jpg) 0 0 / cover no-repeat;
  color: #de466c;
  background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  background-color: transparent;
}

.nav-menu li {
  list-style: none;
  margin-bottom: -2em;
}

a {
  text-decoration: none;
}

.nav-bar1 a {
  padding-right: 20px;
  text-decoration: none;
  color: #f4f4f4;
}

.nav-bar1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 2em;
  background-color: #272a31;
  padding: 0 10em;
}

.nav-bar {
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10em;
  background: #fff;
}

.labelT a {
  font-size: 1rem;
  font-weight: 800;
  color: #ec5242;
  border: #ec5242 solid 3px;
  width: 12em;
  padding-right: 1em 0;
}

.logo {
  width: 35%;
  height: 100%;
  display: inline;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.logo img {
  float: left;
  height: 30%;
  width: 20%;
  border-radius: 50%;
}

.logo h3 {
  float: left;
  width: 13em;
  font-size: 1rem;
  font-weight: 600;
  background: url(images/backgrd2.jpg) 0 0 / cover no-repeat;
  color: #de466c;
  background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}

.nav-link {
  transition: 0.7s ease;
  padding-right: 1em;
  color: #272a31;
  text-decoration: none;
}

.nav-link:hover {
  color: #ec5242;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 40px;
  height: 7.5px;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #5e5a5a;
  margin-left: 1em;
}

.main-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 3em;
  width: 100%;
  height: auto;
  background: url("images/back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
}

.advert1 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 1em;
  width: 100%;
  height: 1em;
}

.advert1 p {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: #fff solid 1px;
}

@media (max-width: 768px) {
  .partners-sect {
    display: none;
  }

  footer {
    display: none;
  }

  .advert {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 3em;
    width: 80%;
    height: 6em;
    background-color: #ec5242;
  }

  .advert1 {
    display: none;
  }

  .labelT a {
    display: none;
  }

  .buttonM {
    display: block;
  }

  .buttonM p {
    display: block;
    width: 99%;
    margin: auto;
    font-size: 1.1rem;
    font-weight: 500;
    border: #474343 solid 4px;
    padding: 0.5em 5em;
  }

  .downA {
    font-weight: 900;
    color: #ec5242;
  }

  .nav-link:hover {
    color: #ec5242;
    background: #d3d3d3;
    padding: 0.5em;
    border-radius: 50%;
  }

  .logo {
    display: none;
  }

  .nav-bar {
    margin-top: -8em;
  }

  .hamburger {
    display: block;
    position: fixed;
    margin-top: 15em;
    margin-left: -8em;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-16px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 3em;
    padding-bottom: 100%;
    flex-direction: column;
    background-color: rgba(26, 26, 26, 0.5);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px;
  }

  .nav-item a {
    font-size: 34px;
    color: #d3d3d3;
  }

  .nav-menu.active {
    left: 0;
  }

  .hello {
    padding-top: 110px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    background: url(images/backgrd2.jpg) 0 0 / cover no-repeat;
    color: #de466c;
    background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header-text {
    padding-left: 20px;
    padding-bottom: 0.5em;
    width: 95%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 2.8rem;
    font-weight: 500;
    word-spacing: 0;
    line-height: 45px;
    background: url(images/backgrd.jpg) 0 0 / cover no-repeat;
    color: #de466c;
    background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .mainS {
    width: 100%;
    height: auto;
  }

  .header-icons {
    position: fixed;
    display: inline;
    width: 100%;
  }

  .header-icon img {
    width: 40px;
    height: 35px;
    color: #868484;
  }

  .header-icon {
    z-index: 3;
    float: right;
    color: #868484;
  }

  .desc {
    width: 95%;
    color: #868484;
    font-size: 0.86rem;
    font-weight: 550;
    line-height: 1.5em;
    background-color: #faf8f8;
    border: #fff solid 3px;
    margin: auto;
    padding: 1em 1em;
  }

  .desc2 {
    width: 97%;
    color: #868484;
    font-size: 0.86rem;
    font-weight: 550;
    line-height: 1.5em;
    margin: auto;
    padding: 1em 1em;
  }

  .date {
    color: #646363;
    font-size: 1.7rem;
    font-weight: 800;
  }

  .program-wrapper {
    padding: 1em 1em;
  }

  .main-program {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    height: auto;
    background: url("images/back2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .pro-header {
    width: 95%;
    text-align: center;
    font-family: Gill Sans, "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #faf8f8;
    padding-top: 1em;
    padding-bottom: 1rem;
  }

  hr {
    width: 10%;
    border: #ec5242 solid 1px;
  }

  .program-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10em;
    background-color: rgba(211, 211, 211, 0.1);
    padding: 0.2em 0.2em;
  }

  .pro-icon {
    width: 20%;
    padding: 0 0;
    margin-right: -2.5em;
    border-radius: 450%;
    padding-right: 2em;
  }

  .program {
    width: 25%;
    height: 2em;
    color: #ec5242;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0 0;
  }

  .pro-desc {
    width: 60%;
    color: #f7ecec;
    font-size: 0.95rem;
  }

  .advert p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 650;
  }

  .speaker-header {
    width: 95%;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.5rem;
    font-weight: 550;
    color: #111;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }

  .speaker-head {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .speakers {
    display: flex;
    flex-flow: column nowrap;
    gap: 3em;
    width: 100%;
    height: auto;
    padding: 1em;
    padding-top: 2em;
    background-color: #fff;
  }

  .speeker-card {
    display: flex;
    gap: 0.5em;
    width: 100%;
    height: auto;
  }

  .spk-img {
    width: 30%;
  }

  .infor {
    display: flex;
    flex-flow: column;
    width: 70%;
  }

  .namez {
    width: 100%;
    font-size: 1.3rem;
  }

  .card-co {
    width: 100%;
    color: rgb(243, 2, 62);
    font-style: italic;
    padding-bottom: 1em;
  }

  .card-description {
    width: 100%;
  }
}
